/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
*.psd
public/avatars/1.jpg
public/avatars/2.jpg
sh.exe.stackdump
public/avatars/Generic_Avatar.png
storage/laravel-backups/
composer.phar
storage/settings.json
laravel-echo-server.json
public/15476494370.png
public/15476493670.png
public/15476552120.png
public/15476528880.png
public/15476518660.png
public/15476518050.png
public/15476496420.png
public/15476494630.png
public/css/normalize_old.css
public/music/test.mp3
.php_cs
laravel-echo-server.lock
public/js/app.js
public/css/app.css
public/calendario.xls
